body {
  user-select: none;
  -moz-user-select: none; /* Für Firefox */
  -webkit-user-select: none; /* Für Chrome, Safari und Opera */
  -ms-user-select: none; /* Für Internet Explorer/Edge */
  background-image: url(background-pic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  font-family: "Tilt Prism";
}